<!DOCTYPE html>
<html>
<head>
    <title>Sea Level Rise</title>
</head>
<body style="background-color: #eec8d4; padding: 20px;">

<h1 style="text-align: center;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;text-decoration: underline; color: #240707;">Sea Level Rise During the Years</h1>

<div style="color: #000000; text-align: justify; padding: 20px;">
    <p>
        Sea level rise is an increase in the level of the world’s oceans due to the effects of global warming. Burning fossil fuels is one of the causes of global warming because it releases carbon dioxide and other heat-trapping gasses into the atmosphere. The oceans then absorb the majority of this heat. As water becomes warmer, it expands. This results in ocean levels rising worldwide.
        Land-based ice, such as glaciers and ice sheets, is greatly affected by global warming, as well. These reserves of ice are located in places like Greenland and Antarctica. Typically, they experience melt during the warmer months of the year and the ice is replenished in colder months. With the average year-round global temperatures rising, however, ice caps and glaciers are experiencing a disproportionate amount of melting at an accelerated rate.
    </p>
    <p>
        Sea level rise poses a serious threat to coastal life around the world. Consequences include increased intensity of storm surges, flooding, and damage to coastal areas. In many cases, this is where large population centers are located, in addition to fragile wildlife habitats. Predicting how high the sea levels will rise is difficult. However, it is an issue that must be carefully monitored so coastal areas can be prepared for the consequences.
    </p>
</div>

<div style="background-color: #333; text-align: center; padding: 20px;">
    <video controls style="max-width: 100%;  border: 10px solid black;">
        <source src="../static/sea_level_rise_video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

</body>
</html>
